.cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    margin: 20px auto 40px;
    width: 900px;
}

.cart-title {
    padding-bottom: 10px;
    margin: 10px;
    width: 90%;
    border-bottom: solid 2px black;
}

.cart-header{
    display: grid;
    grid-template-columns: 4fr 2fr 1fr 2fr;
    gap: 10px;
    width: 90%;
}

.cart-item {
    display: grid;
    grid-template-columns: 4fr 2fr 1fr 2fr;
    align-items: center;
    width: 90%;
    margin-top: 10px;
}

.item-product{
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.product-img {
    width: 100px;
    background-color: white;
}

.product-img img {
    width: 100%;
}

.product-title {
    width: 200px;
    text-align: left;
}
.product-title h3{
    margin: 0;
}
.product-title h6{
    margin: 0;
}

.item-price{
    margin: 0;
}

.item-quantity {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.item-subtotal {
 display: flex;
 align-items: center;
 justify-content: center;
}

.item-subtotal h4{
    min-width: 60px;
    margin: 0 20px 0 0;
}

.emptyCart{
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    margin: 20vh auto;
}

.cartResume {
    width: 90%;
    margin-top: 20px;
 text-align: right;
 border-top: solid 2px black;
}

.cartResume h3{
 margin: 15px 30px 25px 0;
 font-size: 1.5rem;
}

.optionButtons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    padding-top: 10px;
}
