.btn {
    background-color: #f2a71b95;
    color: black;
    font-size: 1rem;
    border: solid 1px black;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 10px 0;
    min-width: 35px;
    transition: all 0.5s;
}

.btn:hover {
    background-color: #f2a71bd8;
    cursor: pointer;
}

.btn-smaller {
    font-size: 0.7rem;
}

.btn-bigger {
    font-size: 1.2rem;
}