.buy {
    display: flex;
    flex-direction: column;
}

.buy-counter {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.counter-btn {
    border: none;
    color: black;
}

.counter-number {
    font-weight: 500;
    font-size: 1.2rem;
    width: 30px;
    padding: 5px 5px;
    margin: 10px 0;
}

.buy-add{
    border: none;
    border-radius: 20px;
    padding: 5px;
    color: black;
    font-weight: 500;
    font-size: 1.2rem;
}

.buy small {
    font-size: 0.7rem;
}